@keyframes rectangle-animation {
    from{
        left:0vw;
    }
    to{
        left:100vw;
    }
 }

html,body{
    margin:0;
    padding:0;
}

header{
    height:50px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider{
    border-top: 3px solid #bbb
}

h2{
    text-align: center;
}

.container{
    background-color:antiquewhite;
    height:100vh;
}


.circle {
    border: 1px solid black;
    background-color: magenta;
    border-radius: 700px;
    width: 175px;
    height: 175px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation-name: rectangle-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}